// - Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// - Variaveis [4|8 - Point Grid] e LEES[Lógico, Eficaz, Eficiente, Simples]
$nRadius: 4px;
$nMagin: 4px;
$nPadding: 4px;
$nGap: 4px;

$nDark: #28282b;
$nLight : #EDEADE;
$Periwinkle: #CCCCFF; 
$Royal-Blue: #4169E1;
$Yellow-Orange: #FFAA33;

button{
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}
// - Style
body{
    padding: 0;
    margin: 0;

    background-color: $nLight;
    display: grid;
    place-items: center;
    height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    box{
        width: 1080px;
        height: 640px;
        background-color: white;
        border-radius: $nRadius;
    
        display: grid;
        grid-template-columns: 1.2fr 1.6fr;
        grid-template-areas: "M B";
        overflow: hidden; // Garante que as Childrens respeitem suas delimitações dimensionais
    }
}
main{
    grid-area: M;
    padding: $nPadding*4;
    display: grid;
    grid-template-rows:
        0.4fr 0.8fr 1.2fr 0.4fr 1.2fr
    ;
    height: 640px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        padding: 0px $nPadding;

        button{
            background: transparent;
            color: $nDark;
            border: none;
            min-width: 20px;
            min-height: 20px;
            border-radius: $nRadius;
            font-size: 20px;
            padding: $nPadding $nPadding*2;
            cursor: pointer;
            transition: 0.2s;
            
            &:hover{
                transition: 0.3s;
                color: #4169E1;
            }
            &:active{
                transition: 0.2s;
                transform: translateX(-4px);
            }
        }
        span{
            font-weight: 600;
            cursor: default;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                font-size: 16.8px;
            }
        }
    }
    .mainTitle{
        padding: 0px $nPadding*3;
        h1{
            color: #28282b;
        }
        p{
            color: rgb(116, 116, 116);
            font-size: 12px;
        }
    }
    .fieldInput{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $nGap*4;

        input[type="text"], input[type='password']{
            width: 360px;
            height: 44px;
            padding: $nPadding $nPadding*4;
            border-radius: $nRadius;
            background-color: $nLight;
            border: none;
            font-size: 12px;
            outline: none;
            border: 2px solid transparent;
            transition: 0.2s;

            &:focus{
                transition: 0.2;
                border: 2px solid $Royal-Blue;
            }
        }
        span{
            align-self: flex-end;
            position: relative;
            right: 40px;
            font-size: 12px;
            cursor: pointer;
        }

    }
    .loginNow{
        width: 320px;
        height: 48px;
        margin-top: $nMagin*2;
        border-radius: $nRadius;
        border: none;
        background-color: #4169E1;
        color: white;
        font-size: 16px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        cursor: pointer;

        &:active{
            transition: 0.3s;
            transform: translateY(4px);
        }
    }
    .extra{
        display: grid;
        grid-template-rows: 0.8fr 0.4fr 1.6fr;
        align-items: center;
        justify-items: center;

        hr{
            height: 4px;
            width: 320px;
            background-color: $nLight;
            border: none;
        }
        span{
            font-size: 12px;
        }
        .iconSocial{
            padding-bottom: $nPadding*2;
            display: flex;
            flex-direction: row;
            gap: $nGap*2;
            button{
                position: relative;
                top: -16px;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: $nRadius;
                color: $Royal-Blue;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;

                &:focus{
                    transition: 0.3s;
                    background-color: $Royal-Blue;
                    color: white;
                }
            }
        }
    }
}
banner{
    grid-area: B;
    background-color: $Royal-Blue;

    video{
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover; /* o vídeo preencher completamente a div */

        &::-webkit-media-controls {
            display: none;
          }
          
        &::-webkit-media-controls-enclosure {
            display: none;
        }
          
    }
}
.bannerText{
    grid-area: B;
    z-index: 2;
    padding: $nPadding*4;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.507);

    p{
        align-self: flex-end;
        width: 420px;
        color: white;
        text-align: justify;
        border-radius: $nRadius;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        top: -40px;
    }
}

.OHKEN{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    color: $Periwinkle;
    border: 2.4px solid $Periwinkle;
    cursor: default;
    transition: 0.2s;
    height: 24px;

    position: absolute;

    &:hover{
        transition: 0.3s;
        color: white;
    }
    span{
        font-size: 12px;
    }

}
